/* index 관리 */


/* mobile css */

.slider_section {
    order: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    background: url(../images/p_images/slider_01.jpg) center center no-repeat;
}

.slider_section span {
    width: 34px;
    height: 39px;
    text-indent: -9999px;
    background: url(../images/s_images/slider_arrow.png) no-repeat;
}

span.prev_btn {
    margin-left: -10px;
}

span.next_btn {
    margin-right: -10px;
    background-position: -34px 0;
}

.latest_post_section {
    order: 4;
    background: darkslateblue;
    text-shadow: 0px 1px 1px black;
}

.popular_post_section {
    order: 5;
    background: darkorchid;
    text-shadow: 0px 1px 1px purple;
}

.latest_post_section,
.popular_post_section {
    padding: 40px 12.5%;
}

.title {
    margin-bottom: 30px;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.latest_post_section li,
.popular_post_section li {
    margin-top: 15px;
    padding-left: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: url(../images/s_images/post_circle_icon.png) left center no-repeat;
}

.gallery_section {
    order: 6;
    padding: 50px 12.5%;
    text-align: center;
    background: darkslateblue;
    text-shadow: 0px 1px 1px purple;
}

.gallery_section img {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #c43434;
}

.gallery_list li:nth-child(2) {
    margin-top: 30px;
}

.gallery_list li figcaption {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.rankup_section {
    order: 7;
    padding: 40px;
    background: rgb(74, 119, 134);
}

.rankup_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rankup_list li {
    width: 47.9%;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.rankup_list li a {
    display: block;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.banner_section {
    order: 8;
}

.banner_box_01 {
    background: tomato;
}

.banner_box_01 a {
    display: block;
    padding: 30px;
    text-align: center;
}

.banner_box_02 {
    background: lightsalmon;
}

.banner_box_02 a {
    display: block;
    padding: 30px;
}

.banner_list {
    display: flex;
    justify-content: space-between;
}

.social_section {
    order: 9;
    padding: 24px;
    background: white;
}

.social_list {
    display: flex;
    justify-content: space-between;
}


/* tablet css */

@media all and (min-width:768px) {
    .slider_section {
        width: 55%;
        height: auto;
    }
    .slider_section span {
        position: relative;
        z-index: 10;
    }
    .rankup_section {
        order: 4;
        padding: 20px;
        width: 45%;
    }
    .rankup_list li {
        width: 40%;
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .rankup_list li a {
        display: block;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
    }
    .latest_post_section {
        order: 5;
    }
    .popular_post_section {
        order: 6;
    }
    .latest_post_section,
    .popular_post_section {
        width: 41%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .social_section {
        display: flex;
        order: 7;
        width: 14%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .social_list {
        flex-direction: column;
        justify-content: flex-start;
    }
    .gallery_section {
        order: 8;
        width: 72%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .gallery_list {
        display: flex;
    }
    .gallery_list li {
        width: 47%;
    }
    .gallery_list li:nth-child(2) {
        margin-left: 5%;
        margin-top: 0;
    }
    .banner_section {
        order: 9;
        width: 27%;
        display: flex;
        flex-direction: column;
    }
    .banner_section div {
        flex: 1 1 0;
    }
    .banner_box_01,
    .banner_box_02 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner_box_02 a {
        padding: 5px;
    }
    .banner_list {
        padding: 0;
        justify-content: flex-start;
    }
    .banner_list li:nth-child(2) {
        margin: 1 14px;
    }
}


/* window css */

@media all and (min-width:960px) {
    .slider_section {
        order: 2;
        width: 50%;
        /* background: darkgreen; */
    }
    .gallery_section {
        order: 3;
        width: 27.083333%;
        height: 440px;
        /* background: darkturquoise; */
    }
    .gallery_list {
        display: block;
    }
    .gallery_list li {
        width: auto;
    }
    .rankup_section {
        order: 4;
        width: 22.916666%;
        height: 440px;
        /* background: rgb(209, 0, 146); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rankup_list {
        display: block;
    }
    .rankup_list li {
        width: auto;
        text-align: left;
        counter-increment: rankup-counter;
    }
    .rankup_list li:nth-child(2) {
        margin-top: 0.9rem;
    }
    .rankup_list li:before {
        content: counter( rankup-counter) '.';
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 1px lightskyblue;
    }
    .rankup_list li a {
        display: inline;
        padding: 0;
        /* margin: 5px; */
        border: 0;
    }
    .latest_post_section {
        order: 5;
        width: 30%;
        background: yellow;
    }
    .popular_post_section {
        order: 6;
        width: 30%;
        background: darkorchid;
    }
    .banner_section {
        display: flex;
        order: 7;
        flex-flow: column nowrap;
        width: 22.9166%;
    }
    .banner_section div {
        flex: 1 1 0;
    }
    .banner_section div.banner_box_01 {
        background: darkseagreen;
    }
    .banner_section div.banner_box_02 {
        background: blue;
    }
    .social_section {
        order: 8;
        width: 17.0833%;
        height: 270px;
        background: pink;
    }
}