* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0;
}

.container {
    width: 100%;
}

header {
    width: 100%;
    background-color: #00387f;
    color: #ffffff;
    height: 300px;
}

hgroup {
    text-align: center;
    padding: 4%;
}

div.logo {
    height: 260px;
}


/* ------------------------------- 네비게이션 스타일 */

nav {
    height: 40px;
    background-color: #60870a;
}

ul.menu {
    list-style-type: none;
    background-color: #60870a;
    position: relative;
    top: -10px;
    margin: 0;
    padding: 0;
    z-index: 999;
}

nav ul.menu li a {
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    color: #ffffff;
    display: block;
    margin: 0;
}

nav ul.menu li a:hover {
    color: #dd5607;
}


/* Toggle menu 스타일 조정 */

.toggle {
    display: block;
    padding: 14px 18px;
    font-size: 17px;
}

.toggle:hover {
    color: #dd5607;
}


/* -------------------- 메뉴감추기 ------------------ */


/* MENU  | HOME +  | PEOPLE +  딸려있는 체크박스 감추기 */

input[id^="drop"] {
    display: none;
}


/* 리스트 메뉴 전체 감추기 */

.menu {
    display: none;
}


/* 토글  메뉴  감추기 */

nav ul li .toggle+a {
    display: none;
}


/* 토글  하단 메뉴  감추기 */

ul.sub {
    list-style-type: none;
    display: none;
}


/* -------------------- 메뉴보이기 ------------------ */


/* input checkbox 상단메뉴 클릭되어있음 하단메뉴(+ ~ 형제 찾음 ) 보이기  */

input[id^="drop"]:checked+ul {
    display: block;
}

input[id^="drop"]:checked+ul.menu {
    display: block;
}


/* PC 화면 css */

@media only screen and (min-width: 658px) {
    hgroup h1 {
        display: inline-block;
        letter-spacing: 0.02em;
    }
    /* navbar */
    nav {
        text-align: center;
    }
    /* ul.menu {
        list-style-type: none;
        width: 740px;
        margin: 0 auto;
        top: 0px;
    } */
    /*     

    */
    /* menu list 가로로 정렬 */
    ul.menu li {
        display: inline-block;
        width: 140px;
        height: 40px;
        padding: 0px;
    }
    ul.menu {
        display: block;
    }
    /* Toggle menu 숨기기 */
    .toggle {
        display: none;
    }
    nav ul li .toggle+a {
        display: block;
    }
    /* 서브메뉴 위치 아래로 변경 */
    nav ul ul.sub {
        /* display: none; */
        position: absolute;
        top: 40px;
    }
    nav ul ul.sub li {
        width: 140px;
        float: none;
        display: block;
        position: relative;
        background-color: #60870a;
        left: -40px;
    }
    /*마우스를 올렸을 때 서브메뉴 보이기*/
    nav ul li:hover>ul {
        display: block;
    }
    nav a {
        display: block;
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
        text-decoration: none;
    }
}